body{
				margin:0;
				border:0;
				padding:0;
				overflow: hidden;
				background:#000;
			}
			canvas{
				position: absolute;
				left: 0; right: 0;
				top:0; bottom: 0;
				margin: auto;
			}
			#inicio{
				width: 600px;
				height: 360px;
				position:absolute;
				left:0; right:0;
				top:0; bottom:0;
				margin:auto;
				z-index:1;
				
				display: none;
				background: #ccc;
			}

			.ativo{
				display:block !important;
			}

			#inicio button{
				width:100px;
				height:50px;
				border: none;
				border-radius: 5px;
				background: yellow;
				font-size: 18px;
				
				position: absolute;
				left:0; right:0;
				top:80%; bottom:0;
				margin:auto;
			}